@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
    background-color: #020617;
    /* Slate 950 */
    color: #ffffff;
}

body {
    background-color: #020617;
    color: #ffffff;
}